{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{painting.img}}" alt="{{painting.name}}" />
</div>
<div class="detail__container">
  
    <div class="buttons">
        <div class="buttons">
        <a href="{% url 'painting_update' painting.pk %}" class="button is-info"> Updates
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'painting_delete' painting.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    </div>
    
    {% for museum in painting.museum.all %}
    <div class="museum">
      <span>{{forloop.counter}}</span>
      <span><b>{{museum.name}}</b></span>
      <span>{{museum.city}}</span>
    </div>
		{% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Museum Available</p>
      </div>
    </article>

    {% endfor %}
  </div>
<!--  above about section  -->
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{painting.about}}</p>
    </div>
</div>

{% endblock %}